* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Luckiest Guy', cursive;
}

code {
  font-family: 'Luckiest Guy', cursive;
}

html, body, #root {
PADDING: 0;
margin: 0;
height: 100%;
}